@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

:root {
  --dark-blue: #3c85f7;
  --light-blue: #ddedfd;
  --gray: #d3d3d3;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafc;
  font-family: "Noto Sans JP", sans-serif;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

a {
  cursor: pointer;
}

.btn {
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
  font-size: small;
  font-weight: bold;
}
